In [ ]:
import pandas as pd
df = pd.read_csv(r"actors.csv")
print(df)

In [ ]:
import pandas as pd
df = pd.read_csv(r"actors.csv")

maior = df["Number of Movies"].idxmax()

print(df.iloc[maior:maior+1,[0,2],])

In [ ]:
import pandas as pd
df = pd.read_csv(r"actors.csv")

media = df["Number of Movies"].mean()

print("\nMedia:",media)

In [ ]:
import pandas as pd
df = pd.read_csv(r"actors.csv")

media_filme = df["Average per Movie"].idxmax()

print("\n",df.iloc[media_filme:media_filme+1,[0,3],])

In [32]:
import pandas as pd
df = pd.read_csv(r"actors.csv")

filme = df.groupby(["#1 Movie"]).count()
print(filme)

                                     Actor  Total Gross  Number of Movies  \
#1 Movie
American Sniper                          1            1                 1
Avengers: Age of Ultron                  2            2                 2
Catching Fire                            4            4                 4
Dead Man's Chest                         2            2                 2
Harry Potter / Deathly Hallows (P2)      4            4                 4
Hotel Transylvania 2                     1            1                 1
Independence Day                         1            1                 1
Meet the Fockers                         3            3                 3
Men in Black                             1            1                 1
Minions                                  1            1                 1
Night at the Museum                      2            2                 2
Ocean's Eleven                           1            1                 1
Return of the King                       2            2                 2
Shrek 2                                  2            2                 2
Sixth Sense                              1            1                 1
Star Wars: The Force Awakens             3            3                 3
The Avengers                             6            6                 6
The Dark Knight                          3            3                 3
The Dark Knight Rises                    1            1                 1
The Grinch                               1            1                 1
The LEGO Movie                           1            1                 1
The Martian                              1            1                 1
The Phantom Menace                       1            1                 1
Titanic                                  1            1                 1
Toy Story 3                              1            1                 1
Transformers 4                           1            1                 1
War of the Worlds                        1            1                 1
World War Z                              1            1                 1

                                     Average per Movie  Gross
#1 Movie
American Sniper                                      1      1
Avengers: Age of Ultron                              2      2
Catching Fire                                        4      4
Dead Man's Chest                                     2      2
Harry Potter / Deathly Hallows (P2)                  4      4
Hotel Transylvania 2                                 1      1
Independence Day                                     1      1
Meet the Fockers                                     3      3
Men in Black                                         1      1
Minions                                              1      1
Night at the Museum                                  2      2
Ocean's Eleven                                       1      1
Return of the King                                   2      2
Shrek 2                                              2      2
Sixth Sense                                          1      1
Star Wars: The Force Awakens                         3      3
The Avengers                                         6      6
The Dark Knight                                      3      3
The Dark Knight Rises                                1      1
The Grinch                                           1      1
The LEGO Movie                                       1      1
The Martian                                          1      1
The Phantom Menace                                   1      1
Titanic                                              1      1
Toy Story 3                                          1      1
Transformers 4                                       1      1
War of the Worlds                                    1      1
World War Z                                          1      1